.box-top {
  --width: 350px;
  --height: 225px;
  --inner-color: #E1E1E1;

  width: var(--width);
  height: var(--height);
  box-sizing: border-box;
  position: relative;
  background: #fff;
  padding: 10px;

  & .inner-box {
    height: 100%;
    background: var(--inner-color);
    overflow: hidden;
  }

}
