@font-face {
  font-family: "Bebas Neue";
  src:
    url("fonts/bebas-neue.woff2") format("woff2"),
    url("fonts/bebas-neue.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Heroes Legend";
  src:
    url("fonts/heroes-legend.woff2") format("woff2"),
    url("fonts/heroes-legend.woff") format("woff"),
    url("fonts/heroes-legend.ttf") format("truetype");
  font-display: swap;
}

body {
  background: #224;
}

.funko-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
}
